<%- include('../partials/user/header') %>

<main class="style-38">
    <nav class="breadcrumb-cart">
        <div class="container">
            <a href="/shop">Home</a> >
            <a href="/cart">My Account</a> 
        </div>
    </nav>
    <h2 class="your-profile" style="margin-left: 150px;">Your Profile</h2>
    <div style="margin: 0px auto;max-width:1366px;min-width:1128px;box-sizing:border-box;padding:0px;">
        <div style="margin: 0px auto;position:relative;padding:14px 64px 0px;width: 100%;display:flex;flex-flow:row wrap;box-sizing:border-box;">
            <!-- navbar -->
            <div style="width: 25%;box-sizing:border-box;margin:0px;padding:0px;">
                <div style="box-sizing:border-box;margin:0px;padding:0px;">

                    <!-- FitFORGE Customer -->
                    <div style="box-sizing:border-box;margin:0px;padding:0px;background-color:#d9d9d9;border-radius:20px;box-shadow:rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;">
                        <div style="padding:12px;margin-bottom:16px;width: 100%;display:flex;flex-flow:row wrap;box-sizing:border-box;margin:0px 0px 16px;">
                            <img height="50px" width="50px" src="/img/profile-pic.svg" style="vertical-align:middle;width: 50px;height:50px;text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;" />
                            <div style="padding:5px 0px 0px 16px;width: calc(100% - 50px);box-sizing:border-box;margin:0px;">
                                <div style="font-size:12px;box-sizing:border-box;margin:0px;padding:0px;">Hello,</div>
                                <div style="padding-top:3px;font-size:16px;font-weight:500;display:flex;align-items:center;text-transform:capitalize;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;margin:0px;"><%= user.name%></div>
                            </div>
                        </div>
                    </div>

                    <!-- the next div -->
                    <div style="margin-bottom:16px;box-sizing:border-box;padding:0px;background-color:#d9d9d9;border-radius:20px;box-shadow:rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;">
                        <div style="box-sizing:border-box;margin:0px;padding:0px;">
                            <div style="padding-bottom:12px;box-sizing:border-box;margin:0px;">
                                <div style="padding:20px 12px 5px 24px;width: 100%;display:flex;flex-flow:row wrap;box-sizing:border-box;margin:0px;">
                                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDE4Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC04LjY5NCAtMTEpIj48ZWxsaXBzZSBjeD0iMjAuNTU3IiBjeT0iMjAiIHJ4PSIyMC41NTciIHJ5PSIyMCIvPjxwYXRoIGZpbGw9IiMyODc0RjEiIGQ9Ik05IDExdjE3LjEwOGMwIC40OTMuNDEuODkyLjkxOC44OTJoNC45M3YtNS4yNTdoLTMuMDMzbDQuOTEyLTQuNzcgNC45NzIgNC44M2gtMy4wMzVWMjloMTIuNDE3Yy41MDcgMCAuOTE4LS40LjkxOC0uODkyVjExSDl6Ii8+PC9nPjwvc3ZnPg==" 
                                     style="width: 20px; height: 20px; filter: brightness(0) saturate(100%);"/>
                                     <a href="/account/orders" style="width: calc(100% - 26px);padding-left:20px;font-size:16px;font-weight:500;color:rgb(0, 0, 0);cursor:pointer;text-decoration:none solid rgb(135, 135, 135);border:0px none rgb(135, 135, 135);outline:rgb(135, 135, 135) none 0px;box-sizing:border-box;margin:0px;padding:0px 0px 0px 20px;">
                                        MY ORDERS
                                        <span style="margin-top:1px;float:right;box-sizing:border-box;padding:0px;">
                                            <svg width="16" height="27" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" style="width: 14px;height:14px;transform:matrix(-1, 0, 0, -1, 0, 0);box-sizing:border-box;margin:0px;padding:0px;">
                                                <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="grey" style="box-sizing:border-box;margin:0px;padding:0px;"></path>
                                            </svg>
                                        </span>
                                     </a>
                                </div>
                            </div>
                            <!-- Account settings -->
                            <div style="border-bottom:1px solid rgb(240, 240, 240);box-sizing:border-box;margin:0px;padding:0px;"></div>
                        </div>

                        <div style="box-sizing:border-box;margin:0px;padding:0px;">
                            <div style="padding-bottom:12px;box-sizing:border-box;margin:0px;">
                                <div style="padding:20px 12px 5px 24px;width: 100%;display:flex;flex-flow:row wrap;box-sizing:border-box;margin:0px;">
                                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDIyIDIxIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05LjY5NCAtMTApIj48cGF0aCBmaWxsPSIjMjg3NEYwIiBkPSJNMTQuMjc1IDIyLjcwNGMyLjI3Mi0uNDEyIDQuMzQ3LS42MTggNi4yMjUtLjYxOCAxLjg3OCAwIDMuOTUzLjIwNiA2LjIyNS42MThhNS4xNSA1LjE1IDAgMCAxIDQuMjMgNS4wNjhWMzFoLTIwLjkxdi0zLjIyOGE1LjE1IDUuMTUgMCAwIDEgNC4yMy01LjA2OHptMS4yNzQtNy43MjRjMC0yLjU4IDIuMTYzLTQuNjczIDQuODMyLTQuNjczIDIuNjY3IDAgNC44MyAyLjA5MiA0LjgzIDQuNjczIDAgMi41OC0yLjE2MyA0LjY3My00LjgzIDQuNjczLTIuNjcgMC00LjgzMy0yLjA5Mi00LjgzMy00LjY3M3oiLz48ZWxsaXBzZSBjeD0iMjAuNTU3IiBjeT0iMjAiIHJ4PSIyMC41NTciIHJ5PSIyMCIvPjwvZz48L3N2Zz4=" 
                                    style="width: 20px;height:20px;text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px; filter: brightness(0) saturate(100%);" />
                                    <div style="padding:0px 0px 12px 20px;font-size:16px;font-weight:500;color:rgb(0, 0, 0);box-sizing:border-box;margin:0px;">ACCOUNT SETTINGS</div>
                                </div>
                                <!-- Account infos -->
                                <div style="box-sizing:border-box;margin:0px;padding:0px;">
                                    <a href="/account" style="text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;">
                                        <div style="font-size:14px;padding:12px 5px 12px 66px;cursor:pointer;font-weight:500;color:rgb(40, 116, 240);background-color:rgb(245, 250, 255);box-sizing:border-box;margin:0px;">
                                            Profile Information
                                        </div>
                                    </a>
                                    <a href="/account/addresses" style="text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;">
                                        <div style="font-size:14px;padding:12px 5px 12px 66px;cursor:pointer;box-sizing:border-box;margin:0px;">
                                            Manage Addresses
                                        </div>
                                    </a>
                                    <!-- <a href="/account/pancard" style="text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;">
                                        <div style="font-size:14px;padding:12px 5px 12px 66px;cursor:pointer;box-sizing:border-box;margin:0px;">
                                            PAN Card Information
                                        </div>
                                    </a> -->
                                </div>
                            </div>
                            <div style="border-bottom:1px solid rgb(240, 240, 240);box-sizing:border-box;margin:0px;padding:0px;"></div>
                        </div>

                        <!-- PAYMENTS -->
                        <div style="box-sizing:border-box;margin:0px;padding:0px;">
                            <div style="padding-bottom:12px;box-sizing:border-box;margin:0px;">
                                <div style="padding:20px 12px 5px 24px;width: 100%;display:flex;flex-flow:row wrap;box-sizing:border-box;margin:0px;">
                                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMyIgaGVpZ2h0PSIyMiIgdmlld0JveD0iMCAwIDIzIDIyIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05LjY5NCAtOSkiPjxlbGxpcHNlIGN4PSIyMC41NTciIGN5PSIyMCIgcng9IjIwLjU1NyIgcnk9IjIwIi8+PHBhdGggZD0iTTcgNmgyOHYyOEg3eiIvPjxwYXRoIGZpbGw9IiMyODc0RjAiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTMxLjUgMjd2MS4xNjdhMi4zNCAyLjM0IDAgMCAxLTIuMzMzIDIuMzMzSDEyLjgzM2EyLjMzMyAyLjMzMyAwIDAgMS0yLjMzMy0yLjMzM1YxMS44MzNBMi4zMzMgMi4zMzMgMCAwIDEgMTIuODMzIDkuNWgxNi4zMzRhMi4zNCAyLjM0IDAgMCAxIDIuMzMzIDIuMzMzVjEzSDIxYTIuMzMzIDIuMzMzIDAgMCAwLTIuMzMzIDIuMzMzdjkuMzM0QTIuMzMzIDIuMzMzIDAgMCAwIDIxIDI3aDEwLjV6TTIxIDI0LjY2N2gxMS42Njd2LTkuMzM0SDIxdjkuMzM0em00LjY2Ny0yLjkxN2MtLjk3IDAtMS43NS0uNzgyLTEuNzUtMS43NXMuNzgtMS43NSAxLjc1LTEuNzVjLjk2OCAwIDEuNzUuNzgyIDEuNzUgMS43NXMtLjc4MiAxLjc1LTEuNzUgMS43NXoiLz48L2c+PC9zdmc+" 
                                    style="width: 20px;height:20px;text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px; filter: brightness(0) saturate(100%);" />
                                    <div style="padding:0px 0px 12px 20px;font-size:16px;font-weight:500;color:rgb(0, 0, 0);box-sizing:border-box;margin:0px;">
                                        PAYMENTS
                                    </div>
                                </div>
                                <!-- payment infos -->
                                <div style="box-sizing:border-box;margin:0px;padding:0px;">
                                    <a href="/account/wallet" style="text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;">
                                      <div style="font-size:14px;padding:12px 5px 12px 66px;cursor:pointer;box-sizing:border-box;margin:0px;">
                                          Wallet
                                      </div>
                                    </a>
                                    <!-- <a href="/account/giftcard" style="text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;">
                                        <div style="font-size:14px;padding:12px 5px 12px 66px;cursor:pointer;box-sizing:border-box;margin:0px;">
                                            Gift Cards
                                            <span style="float:right;padding:0px 20px 0px 5px;color:rgb(56, 142, 60);font-weight:500;box-sizing:border-box;margin:0px;">₹0</span>
                                        </div>
                                    </a>
                                    <a href="/account/vpadetails" style="text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;">
                                        <div style="font-size:14px;padding:12px 5px 12px 66px;cursor:pointer;box-sizing:border-box;margin:0px;">
                                            Saved UPI
                                        </div>
                                    </a>
                                    <a href="/account/carddetails" style="text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;">
                                        <div style="font-size:14px;padding:12px 5px 12px 66px;cursor:pointer;box-sizing:border-box;margin:0px;">
                                            Saved Cards
                                        </div>
                                    </a> -->
                                </div>
                            </div>

                            <div style="border-bottom:1px solid rgb(240, 240, 240);box-sizing:border-box;margin:0px;padding:0px;"></div>
                        </div>

                        <!-- My STUFF -->
                        <div style="box-sizing:border-box;margin:0px;padding:0px;">
                            <div style="padding-bottom:12px;box-sizing:border-box;margin:0px;">
                                <div style="padding:20px 12px 5px 24px;width: 100%;display:flex;flex-flow:row wrap;box-sizing:border-box;margin:0px;">
                                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMyIgaGVpZ2h0PSIxOSIgdmlld0JveD0iMCAwIDIzIDE5Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGZpbGw9IiMyODc0RjAiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTIwLjUgMi43NWgtOUw5LjI1LjVIMi41QTIuMjQ3IDIuMjQ3IDAgMCAwIC4yNiAyLjc1bC0uMDEgMTMuNUEyLjI1NyAyLjI1NyAwIDAgMCAyLjUgMTguNWgxOGEyLjI1NyAyLjI1NyAwIDAgMCAyLjI1LTIuMjVWNWEyLjI1NyAyLjI1NyAwIDAgMC0yLjI1LTIuMjV6bS01LjYyNSAzLjM3NWEyLjI1NyAyLjI1NyAwIDAgMSAyLjI1IDIuMjUgMi4yNTcgMi4yNTcgMCAwIDEtMi4yNSAyLjI1IDIuMjU3IDIuMjU3IDAgMCAxLTIuMjUtMi4yNSAyLjI1NyAyLjI1NyAwIDAgMSAyLjI1LTIuMjV6bTQuNSA5aC05VjE0YzAtMS40OTYgMy4wMDQtMi4yNSA0LjUtMi4yNXM0LjUuNzU0IDQuNSAyLjI1djEuMTI1eiIvPjxwYXRoIGQ9Ik0tMi00aDI3djI3SC0yeiIvPjwvZz48L3N2Zz4=" 
                                    style="width: 20px;height:20px;text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px; filter: brightness(0) saturate(100%);" />
                                    <div style="padding:0px 0px 12px 20px;font-size:16px;font-weight:500;color:rgb(0, 0, 0);box-sizing:border-box;margin:0px;">
                                        MY STUFF
                                    </div>
                                </div>
                                <!-- My stuff infos -->
                                <div style="box-sizing:border-box;margin:0px;padding:0px;">
                                      <a href="/account/referrals" style="text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;">
                                        <div style="font-size:14px;padding:12px 5px 12px 66px;cursor:pointer;box-sizing:border-box;margin:0px;">
                                            My Referrals
                                        </div>
                                    </a>
                                    <!-- <a href="/account/rewards" style="text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;">
                                        <div style="font-size:14px;padding:12px 5px 12px 66px;cursor:pointer;box-sizing:border-box;margin:0px;">
                                            My Coupons
                                        </div>
                                    </a>
                                    <a href="/account/reviews" style="text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;">
                                        <div style="font-size:14px;padding:12px 5px 12px 66px;cursor:pointer;box-sizing:border-box;margin:0px;">
                                            My Reviews &amp; Ratings
                                        </div>
                                    </a>
                                    <a href="/notifications" style="text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;">
                                        <div style="font-size:14px;padding:12px 5px 12px 66px;cursor:pointer;box-sizing:border-box;margin:0px;">
                                            All Notifications
                                        </div>
                                    </a> -->
                                    <a href="/wishlist" style="text-decoration:none solid rgb(33, 33, 33);color:rgb(33, 33, 33);border:0px none rgb(33, 33, 33);outline:rgb(33, 33, 33) none 0px;box-sizing:border-box;margin:0px;padding:0px;">
                                        <div style="font-size:14px;padding:12px 5px 12px 66px;cursor:pointer;box-sizing:border-box;margin:0px;">
                                            My Wishlist
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div style="border-bottom:1px solid rgb(240, 240, 240);box-sizing:border-box;margin:0px;padding:0px;"></div>
                        </div>

                        <div style="border-bottom:1px solid rgb(240, 240, 240);box-sizing:border-box;margin:0px;padding:0px;"></div>
                        <!-- Logout -->
                        <div style="padding-bottom:12px;box-sizing:border-box;margin:0px;">
                            <div style="padding:20px 12px 5px 24px;width: 100%;display:flex;flex-flow:row wrap;box-sizing:border-box;margin:0px;">
                                 <!-- svg power button -->
                                 <a href="/logout" style="text-decoration: none;">
                                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="box-sizing:border-box;margin:0px;padding:0px; filter: brightness(0) saturate(100%);">
                                        <path fill="#2874F0" stroke-width="0.3" stroke="#2874F0" d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z" style="box-sizing:border-box;margin:0px;padding:0px;"></path>
                                    </svg>
                                </a>
                                <span style="width: calc(100% - 26px);padding-left:20px;font-size:16px;font-weight:500;color:rgb(0, 0, 0);cursor:pointer;box-sizing:border-box;margin:0px;padding:0px 0px 0px 20px;">Logout</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="width: 75%;padding-left:16px;box-sizing:border-box;margin:0px;padding:0px 0px 0px 16px;">
                <div style="min-height:300px;box-sizing:border-box;margin:0px;padding:0px;">
                    <!-- card -->
                    <div style="box-sizing:border-box;margin:0px;padding-bottom:40px;background-color:#eeeeee;border-radius:20px;box-shadow:rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;">
                        <div style="padding:24px 32px 0px;box-sizing:border-box;margin:0px;">
                            <div style="padding-bottom:56px;">
                                <!-- Personal Information -->
                                <div style="padding-bottom:24px;">
                                  <span style="font-size:18px;font-weight:500;padding-right:24px;">Personal Information</span>
                                  <span id="editButton" style="font-size:16px;font-weight:500;color:rgb(40,116,240);cursor:pointer;" onclick="toggleEdit()">Edit</span>
                                </div>
                                <form id="infoForm" action="/account/edit" method="post" style="margin:0;padding:0;">
                                  <div style="display:flex; align-items:center;">
                                    <input type="text" id="firstName" name="firstName" required disabled autocomplete="name" 
                                           value="<%= user.name %>" 
                                           style="width:258px; height:50px; padding:16px; color:rgb(135,135,135); background-color:rgb(250,250,250); border:1px solid rgb(224,224,224); font-family:Inter, sans-serif;"/>
                                    <button type="button" id="saveButton" style="display:none; margin-left:12px; height:50px; padding:0 20px; background-color:rgb(40,116,240); color:white; border:none; border-radius:6px; font-size:16px; cursor:pointer;">Save</button>
                                  </div>
                                  <!-- <div style="padding:12px 0;">Your Gender</div>
                                  <div>
                                    <label>
                                      <input type="radio" id="male" name="gender" value="Male" disabled /> Male
                                    </label>
                                    <label>
                                      <input type="radio" id="female" name="gender" value="Female" disabled /> Female
                                    </label>
                                  </div> -->
                                </form>
                            </div>
                             
                            <div style="box-sizing:border-box;margin:0px;padding:0px;">
                                <div style="box-sizing:border-box;margin:0px;padding:0px;">
                                    <div style="padding-bottom:46px;box-sizing:border-box;margin:0px;">
                                        <div style="padding-bottom:24px;box-sizing:border-box;margin:0px;">
                                            <span style="padding-right:24px;font-size:18px;font-weight:500;box-sizing:border-box;margin:0px;">
                                                Email Address
                                            </span>
                                            <a href="#" id="emailEdit" style="font-size:16px;font-weight:500;color:rgb(40, 116, 240);cursor:pointer;box-sizing:border-box;margin:0px;padding:0px; text-decoration:none;">
                                                Edit
                                            </a>                                             
                                        </div>
                                        <form style="box-sizing:border-box;margin:0px;padding:0px;">
                                            <div style="padding-bottom:2px;width: 100%;display:flex;flex-flow:row wrap;align-items:center;box-sizing:border-box;margin:0px;">
                                                <div style="width: 270px;padding-right:12px;box-sizing:border-box;margin:0px;padding:0px 12px 0px 0px;">
                                                    <div style="position:relative;margin-bottom:10px;box-sizing:border-box;margin:0px 0px 10px;padding:0px;">
                                                        <input type="text" id="emailInput" name="email" autocomplete="email" required disabled value="<%= user.email %>" style="width:258px; height:50px; padding:16px;color:rgb(135, 135, 135);height:50px;appearance:auto;margin:0px;background-color:rgb(250, 250, 250);cursor:not-allowed;border:1px solid rgb(224, 224, 224);font-family:Inter, -apple-system, Helvetica, Arial, sans-serif;box-sizing:border-box;" />
                                                    </div>
                                                </div>
                                                <button type="button" id="emailSave" style="display:none; margin-top: -10px; height:50px; padding:0px 20px; background-color:rgb(40, 116, 240);
                                                        color:white; border:none; border-radius:6px; font-size:16px; cursor:pointer;">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div style="box-sizing:border-box;margin:0px;padding:0px;">
                                    <div style="padding-bottom:46px;box-sizing:border-box;margin:0px;">
                                        <div style="padding-bottom:24px;box-sizing:border-box;margin:0px;">
                                            <span style="padding-right:24px;font-size:18px;font-weight:500;box-sizing:border-box;margin:0px;">
                                                Mobile Number
                                            </span>
                                            <a href="#" id="editMobileBtn" style="font-size:16px;font-weight:500;color:rgb(40, 116, 240);cursor:pointer;box-sizing:border-box;margin:0px;padding:0px; text-decoration:none;">
                                                Edit
                                            </a> 
                                        </div>
                                        <form style="box-sizing:border-box;margin:0px;padding:0px;">
                                            <div style="padding-bottom:2px;width: 100%;display:flex;flex-flow:row wrap;box-sizing:border-box;margin:0px;">
                                                <div style="width: 270px;padding-right:12px;box-sizing:border-box;margin:0px;padding:0px 12px 0px 0px;">
                                                    <div style="position:relative;margin-bottom:10px;box-sizing:border-box;margin:0px 0px 10px;padding:0px;">
                                                        <input type="text" id="mobileInput" name="mobileNumber" autocomplete="tel" required="" disabled="" 
                                                            value="<%= user.phoneNumber %>" 
                                                            style="width:258px; height:50px; padding:16px;color:rgb(135, 135, 135);appearance:auto;margin:0px;
                                                            background-color:rgb(250, 250, 250);cursor:not-allowed;border:1px solid rgb(224, 224, 224);
                                                            font-family:Inter, -apple-system, Helvetica, Arial, sans-serif;box-sizing:border-box;" />
                                                    </div>
                                                </div>
                                                <button id="saveMobileBtn" style="display:none; height:50px; padding:0px 20px; background-color:rgb(40, 116, 240);
                                                    color:white; border:none; border-radius:6px; font-size:16px; cursor:pointer;">
                                                    Save
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div style="padding-bottom:24px;box-sizing:border-box;margin:0px;font-size:14px;">
                                <div style="box-sizing:border-box;margin:0px 0px 24px;padding:0px;font-size:18px;font-weight:500;margin-bottom:24px;">FAQs</div>
                                <div style="box-sizing:border-box;margin:0px;padding:0px;">
                                    <h4 style="box-sizing:border-box;margin:20px 0px 5px;padding:0px;font-size:14px;margin-bottom:5px;margin-top:20px;line-height:21px;font-weight:500;">What happens when I update my email address (or mobile number)?</h4>
                                    <p style="box-sizing:border-box;margin:15px 0px 0px;padding:0px;line-height:21px;margin-top:15px;">Your login email id (or mobile number) changes, likewise. You'll receive all your account related communication on your updated email address (or mobile number).</p>
                                    <h4 style="box-sizing:border-box;margin:20px 0px 5px;padding:0px;font-size:14px;margin-bottom:5px;margin-top:20px;line-height:21px;font-weight:500;">When will my FitFORGE account be updated with the new email address (or mobile number)?</h4>
                                    <p style="box-sizing:border-box;margin:15px 0px 0px;padding:0px;line-height:21px;margin-top:15px;">It happens as soon as you confirm the verification code sent to your email (or mobile) and save the changes.</p>
                                    <h4 style="box-sizing:border-box;margin:20px 0px 5px;padding:0px;font-size:14px;margin-bottom:5px;margin-top:20px;line-height:21px;font-weight:500;">What happens to my existing FitFORGE account when I update my email address (or mobile number)?</h4>
                                    <p style="box-sizing:border-box;margin:15px 0px 0px;padding:0px;line-height:21px;margin-top:15px;">Updating your email address (or mobile number) doesn't invalidate your account. Your account remains fully functional. You'll continue seeing your Order history, saved information and personal details.</p>
                                    <h4 style="box-sizing:border-box;margin:20px 0px 5px;padding:0px;font-size:14px;margin-bottom:5px;margin-top:20px;line-height:21px;font-weight:500;">Does my Seller account get affected when I update my email address?</h4>
                                    <p style="box-sizing:border-box;margin:15px 0px 0px;padding:0px;line-height:21px;margin-top:15px;">FitFORGE has a 'single sign-on' policy. Any changes will reflect in your Seller account also.</p>
                                </div>
                            </div>
                            <div style="padding-top:22px;font-weight:500;cursor:pointer;color:rgb(40, 116, 240);box-sizing:border-box;margin:0px;">Deactivate Account</div>
                            <div style="color:rgb(207, 48, 48);padding-top:22px;font-weight:500;cursor:pointer;box-sizing:border-box;margin:0px;padding:22px 0px 0px;">Delete Account</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<script>
    // Update name
    document.getElementById('saveButton').addEventListener('click', async (e) => {
      e.preventDefault();
      const firstName = document.getElementById('firstName').value;
      try {
        const response = await fetch('/account/edit', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ firstName })
        });
        const data = await response.json();
        if (!data.success) {
          Swal.fire("Error", data.message, "error");
          return;
        }
        Swal.fire("Profile Updated!", data.message, "success").then(() => {
          window.location.reload();
        });
      } catch (error) {
        Swal.fire("Error", "Failed to update profile", "error");
      }
    });
</script>

<script>
document.getElementById('emailSave').addEventListener('click', async function(e) {
  e.preventDefault();
  const emailInput = document.getElementById('emailInput');
  const email = emailInput.value.trim();
  const originalEmail = emailInput.defaultValue.trim();
  
  // If email is unchanged, do nothing.
  if (email === originalEmail) {
    return;
  }

  try {
    // Generate initial OTP by calling /newEmail-verify with resend flag
    let initialResponse = await fetch('/newEmail-verify', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ resend: true })
    });
    let initialData = await initialResponse.json();
    if (!initialData.success) {
      await Swal.fire({
        title: 'Error',
        text: initialData.message,
        icon: 'error',
        width: 400,
        padding: '2em'
      });
      return;
    }
    await Swal.fire({
      title: 'OTP Sent',
      text: initialData.message,
      icon: 'success',
      width: 400,
      padding: '2em'
    });

    let otpVerified = false;
    while (!otpVerified) {
      const result = await Swal.fire({
        title: 'Enter OTP',
        input: 'text',
        inputPlaceholder: 'Enter OTP',
        showCancelButton: true,
        showDenyButton: true,
        denyButtonText: 'Resend OTP',
        confirmButtonText: 'Verify',
        width: 400,
        padding: '2em',
        inputAttributes: {
          autocapitalize: 'off',
          autocorrect: 'off'
        },
        preConfirm: (otp) => {
          if (!otp) {
            Swal.showValidationMessage('Please enter OTP');
          }
          return otp;
        }
      });
      const { isConfirmed, isDenied, value } = result;
      if (isDenied) {
        // Resend OTP using the same endpoint with resend flag
        const resendResponse = await fetch('/newEmail-verify', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ resend: true })
        });
        let resendData = await resendResponse.json();
        if (!resendData.success) {
          await Swal.fire({
            title: 'Error',
            text: resendData.message,
            icon: 'error',
            width: 400,
            padding: '2em'
          });
          return;
        }
        await Swal.fire({
          title: 'OTP Resent',
          text: resendData.message,
          icon: 'success',
          width: 400,
          padding: '2em'
        });
        continue;
      } else if (isConfirmed && value) {
        // Verify OTP by calling /newEmail-verify with otpValue
        const verifyResponse = await fetch('/newEmail-verify', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ otpValue: value })
        });
        let verifyData = await verifyResponse.json();
        if (!verifyData.success) {
          await Swal.fire({
            title: 'Invalid OTP',
            text: 'The OTP you entered is incorrect. Please try again.',
            icon: 'error',
            width: 400,
            padding: '2em'
          });
          continue;
        }
        otpVerified = true;
      } else {
        // User cancelled
        return;
      }
    }

    // OTP verified, now update the email
    const saveResponse = await fetch('/saveEmail', {
      method: 'PATCH',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ newEmail: email })
    });
    let saveData = await saveResponse.json();
    if (!saveData.success) {
      await Swal.fire({
        title: 'Error',
        text: saveData.message,
        icon: 'error',
        width: 400,
        padding: '2em'
      });
      return;
    }
    await Swal.fire({
      title: 'Email Updated!',
      text: saveData.message,
      icon: 'success',
      width: 400,
      padding: '2em'
    });
    window.location.reload();
  } catch (error) {
    Swal.fire({
      title: 'Error',
      text: error.message,
      icon: 'error',
      width: 400,
      padding: '2em'
    });
  }
});
</script>

<script>
document.getElementById('saveMobileBtn').addEventListener('click', async function(e) {
  e.preventDefault();
  const mobileInput = document.getElementById('mobileInput');
  const mobile = mobileInput.value.trim();
  const originalMobile = mobileInput.defaultValue.trim();
  
  // If mobile is unchanged, do nothing.
  if (mobile === originalMobile) {
    return;
  }
  
  // Validate mobile: exactly 10 digits, numbers only.
  if (!/^\d{10}$/.test(mobile)) {
    Swal.fire({
      title: 'Invalid Phone Number',
      text: 'Enter valid phone number',
      icon: 'error',
      width: 400,
      padding: '2em'
    });
    return;
  }
  
  try {
    // Send initial OTP request for mobile update
    let initialResponse = await fetch('/newMobile-verify', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ resend: true })
    });
    let initialData = await initialResponse.json();
    if (!initialData.success) {
      await Swal.fire({
        title: 'Error',
        text: initialData.message,
        icon: 'error',
        width: 400,
        padding: '2em'
      });
      return;
    }
    await Swal.fire({
      title: 'OTP Sent',
      text: initialData.message,
      icon: 'success',
      width: 400,
      padding: '2em'
    });
    
    let otpVerified = false;
    while (!otpVerified) {
      const result = await Swal.fire({
        title: 'Enter OTP',
        input: 'text',
        inputPlaceholder: 'Enter OTP',
        showCancelButton: true,
        showDenyButton: true,
        denyButtonText: 'Resend OTP',
        confirmButtonText: 'Verify',
        width: 400,
        padding: '2em',
        inputAttributes: {
          autocapitalize: 'off',
          autocorrect: 'off'
        },
        preConfirm: (otp) => {
          if (!otp) {
            Swal.showValidationMessage('Please enter OTP');
          }
          return otp;
        }
      });
      
      const { isConfirmed, isDenied, value } = result;
      if (isDenied) {
        // Resend OTP
        const resendResponse = await fetch('/newMobile-verify', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ resend: true })
        });
        let resendData = await resendResponse.json();
        if (!resendData.success) {
          await Swal.fire({
            title: 'Error',
            text: resendData.message,
            icon: 'error',
            width: 400,
            padding: '2em'
          });
          return;
        }
        await Swal.fire({
          title: 'OTP Resent',
          text: resendData.message,
          icon: 'success',
          width: 400,
          padding: '2em'
        });
        continue;
      } else if (isConfirmed && value) {
        // Verify OTP by calling /newMobile-verify with otpValue
        const verifyResponse = await fetch('/newMobile-verify', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ otpValue: value })
        });
        let verifyData = await verifyResponse.json();
        if (!verifyData.success) {
          await Swal.fire({
            title: 'Invalid OTP',
            text: verifyData.message || 'The OTP you entered is incorrect. Please try again.',
            icon: 'error',
            width: 400,
            padding: '2em'
          });
          continue;
        }
        otpVerified = true;
      } else {
        // User cancelled
        return;
      }
    }
    
    // OTP verified, now update the mobile number
    const saveResponse = await fetch('/saveMobile', {
      method: 'PATCH',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ mobile: mobile })
    });
    let saveData = await saveResponse.json();
    if (!saveData.success) {
      await Swal.fire({
        title: 'Error',
        text: saveData.message,
        icon: 'error',
        width: 400,
        padding: '2em'
      });
      return;
    }
    await Swal.fire({
      title: 'Mobile Updated!',
      text: saveData.message,
      icon: 'success',
      width: 400,
      padding: '2em'
    });
    window.location.reload();
  } catch (error) {
    Swal.fire({
      title: 'Error',
      text: error.message,
      icon: 'error',
      width: 400,
      padding: '2em'
    });
  }
});

</script>
    
    
<%- include('../partials/user/footer') %>